.leftbar {
    height: 100%;
    width: 140px;
    background-color: #2348c2;
    position: fixed;
    font-weight: bold;
}

.topbar{
    position: fixed;
    width: 100%;
    background-color: #2348c2;
    font-weight: bold;
}

@media (min-width:601px) {
    .smallscreens {
        display: none;
    }
}

@media (max-width:600px) {
    .largescreens {
        display: none;
    }
}